.button {
    -fx-text-fill: rgb(0, 0, 0);
}

#p1ane{
    -fx-background-image: url("..\..\..\..\..\..\..\resources\img\taxbg2.2.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 2200 1106;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.root {
    -fx-background-image: url("..\..\..\..\..\..\..\resources\img\taxbg4.1.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: left top;
    -fx-background-size: 1700 1100;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}